.team {
    background-color: #F4F4FD;
}
.team-title {
}
.team-list {
}
.team-card{
  background-color: #FFFFFF;
  text-align: center;
  height: auto;
}
.team-img { 

}
.team-img-title {
}
.team-p {
}